@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

.App {
  text-align: center;
}


body {
  /* FONT */
  font-family: 'Roboto Mono', monospace;
  letter-spacing: 2px;

  /* COLORS */
  background-color: #353535;
  color: #FFFFFF;

}
